.Modal-information {
    position: relative;
}

.user-container-input {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-input-area {
    width: 60%;
    border-radius: 3px;
    border-color: rgb(194, 191, 191);
    height: 25px;

}

.button-add-update {
    background-color: rgb(17, 21, 232);
    color: #ffffff;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;

}

.button-cancel {
    background-color: rgb(227, 6, 6);
    color: #ffffff;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;

}


@media screen and (max-width:460px) {
    .user-container-input {
        font-size: 12px;
        width: 90%;
    }
    .user-input-area {
        width: 70%;
    }
    
}